/* Color Variable */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #333;
}

li {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.container {
  padding: 2rem 1.5rem;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem 5rem;
  }
}

/* Typography */
.heading__sec {
  font-weight: 500;
  font-size: 2.4rem;
  font-style: normal;
}

.heading__ter {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  width: 350px;
}

.heading__ter-work {
  width: 280px;
}

.heading__ter-mobile {
  font-size: 3.6rem;
  width: 280px;
}

.heading__four {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
}

.heading__four-bold {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .heading__sec {
    font-size: 4.8rem;
    width: 550px;
  }
  .heading__ter {
    font-size: 3.6rem;
  }
  .heading__ter-work {
    width: 450px;
  }
  .heading__ter-client {
    width: 940px;
  }
  .heading__four {
    font-size: 2.4rem;
  }
}

/* Button */
.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: rgba(3, 88, 138, 0.7);
}

.form__hero {
  position: relative;
  width: 270px;
}

.form__label {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #828282;
}

.form__input {
  width: 88%;
  display: block;
  padding: 1.5rem;
  border-radius: 1.2rem;
  outline: none;
  border: none;
  background-color: #f2f2f2;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}

.form__input:-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}

.form__input::-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}

.form__input::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}

.form__btn {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  background-color: rgba(45, 156, 219, 0.7);
  color: #fff;
  width: 70px;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Navigation */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .nav {
    margin: 2rem 0;
  }
}

.nav__menu {
  z-index: 1500;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav__menu {
    display: none;
  }
}

.nav__menu-burger {
  font-size: 3rem;
}

.nav__menu-close {
  display: none;
  font-size: 3rem;
}

.nav__logo {
  font-family: "Heebo", sans-serif;
  font-size: 2.4rem;
  color: #333;
}

.nav__list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1400;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (min-width: 768px) {
  .nav__list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav__item {
  list-style: none;
}

@media (min-width: 768px) {
  .nav__item {
    margin-left: 3rem;
  }
}

.nav__item-link {
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__item-link:hover {
  color: rgba(45, 156, 219, 0.7);
  border-bottom: 5px solid;
  border-top: 5px solid;
}

@media (min-width: 768px) {
  .nav__item-link {
    margin: 0;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .nav__item-link {
    font-size: 2.4rem;
  }
}

.nav__open .nav__menu-burger {
  display: none;
}

.nav__open .nav__menu-close {
  display: block;
}

.nav__open .nav__list {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Header */
.header {
  margin: 4rem 0;
}

.header__intro {
  margin: 0 3rem;
}

@media (min-width: 1024px) {
  .header__intro {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15rem;
  }
}

.header__intro p {
  color: rgba(45, 156, 219, 0.7);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .header__intro p {
    font-size: 1.8rem;
  }
}

.header__img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin: 2rem 0;
}

.header__story {
  margin: 0 3rem;
}

@media (min-width: 1024px) {
  .header__story {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15rem;
  }
}

@media (min-width: 1024px) {
  .header__story h2 {
    width: 370px;
  }
}

.header__story p {
  margin: 3rem 0;
}

@media (min-width: 1024px) {
  .header__story p {
    font-size: 1.8rem;
    width: 370px;
  }
}

/* Service Section */
.service {
  margin-top: 10rem;
}

.card {
  margin-top: 5rem;
}

.card__wrapper {
  padding: 4rem 3rem;
}

.card__wrapper:hover {
  border-radius: 1rem;
  -webkit-box-shadow: 3px 5px 5px rgba(45, 156, 219, 0.7);
          box-shadow: 3px 5px 5px rgba(45, 156, 219, 0.7);
  cursor: pointer;
}

.card__content {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  color: #4f4f4f;
  margin: 3rem 0;
}

.card__icon {
  border-radius: 1.5rem;
  padding: 1.5rem;
  color: #fff;
  background-color: yellow;
  margin-bottom: 3rem;
}

.card__icon-blue {
  background-color: rgba(45, 156, 219, 0.7);
}

.card__icon-green {
  background-color: rgba(39, 174, 96, 0.7);
}

.card__icon-red {
  background-color: rgba(235, 87, 87, 0.7);
}

@media (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5rem;
  }
  .card__wrapper {
    width: 40%;
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .service {
    max-width: 1100px;
    margin: 20rem auto;
  }
  .card__wrapper {
    width: 24%;
    padding: 4rem;
  }
}

/* Our Work Section */
.work {
  margin: 5rem 0;
}

.work__container {
  margin-top: 5rem;
}

.work__wrapper {
  margin: 3rem 0;
}

.work__wrapper img {
  width: 100%;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.work__wrapper p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #828282;
}

.work__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__link a {
  font-size: 1.8rem;
  color: rgba(45, 156, 219, 0.7);
}

.work__link i {
  color: rgba(45, 156, 219, 0.7);
  margin-left: 1rem;
}

@media (min-width: 1024px) {
  .work {
    max-width: 1100px;
    margin: 10rem auto;
  }
  .work__container {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
        grid-template-areas: "one two" "one ." "three four" "three .";
  }
  .work__wrapper {
    margin: 0;
  }
  .work__wrapper-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: one;
    margin-top: 10rem;
  }
  .work__wrapper-two {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: two;
  }
  .work__wrapper-three {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: three;
    margin-top: 10rem;
  }
  .work__wrapper-four {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: four;
  }
  .work__link {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    justify-self: flex-end;
  }
}

/* Team Section */
.team__wrapper p {
  font-size: 1.6rem;
  font-weight: normal;
}

.team__wrapper .meet {
  color: rgba(235, 87, 87, 0.7);
  font-weight: 500;
  font-size: 1.8rem;
}

.teamImage {
  margin: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
      grid-template-areas: "one two" "one three";
}

.teamImage img {
  width: 100%;
  border-radius: 2.5rem;
}

.teamImage__one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: one;
  place-self: center;
}

.teamImage__two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.teamImage__three {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
}

@media (min-width: 1024px) {
  .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }
  .teamImage {
    grid-gap: 2rem;
  }
  .teamImage img {
    width: 100%;
  }
  .team__wrapper {
    width: 280px;
  }
  .team__wrapper h3 {
    margin: 2rem 0;
  }
}

.client {
  margin: 10rem 0;
}

.client__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.client__info img {
  width: 20%;
  border-radius: 1rem;
}

.client__content {
  margin-left: 2rem;
}

.client__content h2 {
  margin: 0;
}

.client__content p {
  font-size: 1.8rem;
  color: #828282;
}

@media (min-width: 1024px) {
  .client {
    max-width: 1100px;
    margin: 15rem auto;
  }
  .client h2 {
    width: 900px;
    font-size: 3.6rem;
  }
  .client__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8rem;
  }
  .client__info img {
    width: 10%;
    border-radius: 2rem;
  }
}

/* Footer */
.footer {
  background-color: #100e1d;
  color: #fff;
  padding: 4rem;
}

.footer__copyright {
  text-align: center;
  margin-top: 10rem;
  color: #a9a9a9;
  font-size: 1.4;
}

.footer__navItem {
  list-style-type: none;
}

.footer__navItem-link {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__navItem-link:hover {
  color: rgba(45, 156, 219, 0.7);
}

.footer__social {
  margin: 10rem 0;
}

.footer__social i {
  display: inline-block;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #100e1d;
}

.footer__social-link {
  margin-top: 1rem;
}

.footer__social-link > :not(:first-child) {
  margin-left: 1rem;
}

.footer__logo {
  color: #fff;
}

@media (min-width: 1024px) {
  .footer__container {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__social {
    margin: 0;
  }
  .footer__form {
    padding: 0;
  }
}
