/* Color Variable */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #333;
}

li {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.container {
  padding: 2rem 1rem;
}

/* Typography */
.heading__sec {
  font-weight: 500;
  font-size: 2.4rem;
  font-style: normal;
  margin: 1rem 0;
  width: 270px;
}

.heading__sec-bold {
  font-weight: bold;
}

.heading__sec-big {
  font-size: 3.6rem;
  width: 280px;
}

.heading__sec-testimony {
  width: 100%;
}

.heading__ter {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
}

/* Navigation */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-close {
  display: none;
}

.nav__logo {
  font-family: "Heebo", sans-serif;
  font-size: 2.4rem;
  color: #333;
}

.nav__list {
  display: none;
}

/* Header */
.header {
  margin: 3rem 0;
}

.header__img {
  width: 100%;
  height: 140px;
  border-radius: 1rem;
  margin: 2rem 0;
}

.header__intro {
  padding: 0 3rem;
}

.header__story {
  padding: 0 3rem;
}

/* Service Section */
.service__card {
  border: solid;
  padding: 2rem;
}

.service__content {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  color: #4f4f4f;
  margin: 2rem 0;
}

.section__design {
  margin: 4rem 0;
}

.design__card {
  margin: 2rem 0;
}

.design__card img {
  width: 100%;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.design__card p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #828282;
}

.team__message p {
  font-size: 1.6rem;
  font-weight: normal;
}

.team__message .meet {
  color: rgba(235, 87, 87, 0.7);
  font-weight: 500;
  font-size: 1.8rem;
}

.team__image {
  margin: 3rem 0;
}

.team__image img {
  width: 80%;
}

.testimony__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.testimony__info img {
  width: 20%;
  border-radius: 1rem;
}

.testimony__content {
  margin-left: 3rem;
}

.testimony__content h2 {
  margin: 0;
}

.testimony__content p {
  font-size: 1.8rem;
  color: #828282;
}

/* Footer */
.footer {
  background-color: #100e1d;
  color: #fff;
  padding: 4rem;
}

/* Button */
.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
}
