/* Color Variable */

$--white-c: #fff;
$--black-c: #333;
$--black-bg-c: #100e1d;
$--light-black-c: #4f4f4f;
$--lighter-black-c: #828282;
$--light-gray-c: #f2f2f2;
$--gray-c: #bdbdbd;
$--blue-c: rgba(45, 156, 219, 0.7);
$--sec-blue-c: rgba(47, 128, 237, 0.7);
$--red-c: rgba(235, 87, 87, 0.7);
$--green-c: rgba(39, 174, 96, 0.7);
