/* Button */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  transition: all 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: rgba(3, 88, 138, 0.7);
}
