/* Button */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: $whiteThree-c;
  color: $gray-c;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: $white-c;
  background-color: $blue-dark-c;
}
