.client {
  margin: 10rem 0;
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;

    img {
      width: 20%;
      border-radius: 1rem;
    }
  }

  &__content {
    margin-left: 2rem;
    h2 {
      margin: 0;
    }
    p {
      font-size: 1.8rem;
      color: $gray-c;
    }
  }
}

@media #{$brk-point-1024} {
  .client {
    max-width: 1100px;
    margin: 15rem auto;

    h2 {
      width: 900px;
      font-size: 3.6rem;
    }

    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 8rem;

      img {
        width: 10%;
        border-radius: 2rem;
      }
    }
  }
}
