.section__design {
  margin: 4rem 0;
}

.design__card {
  margin: 3rem 0;
  img {
    width: 100%;
    border-radius: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #828282;
  }
}

.design__link {
  display: flex;
  align-items: center;
  a {
    font-size: 1.8rem;
    color: rgba(47, 128, 237, 0.7);
  }
  i {
    color: rgba(47, 128, 237, 0.7);
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .section__design {
    max-width: 1100px;
    margin: 10rem auto;
  }
  .design__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    grid-template-areas:
      "one two"
      "one ."
      "three four"
      "three .";
  }

  .design__card {
    margin: 0;
  }

  .design__card-one {
    grid-area: one;
    margin-top: 10rem;
  }

  .design__card-two {
    grid-area: two;
  }

  .design__card-three {
    grid-area: three;
    margin-top: 10rem;
  }

  .design__card-four {
    grid-area: four;
  }
}
