/* Header */

.header {
  margin: 3rem 0;

  &__img {
    width: 100%;
    height: 140px;
    border-radius: 1rem;
    margin: 2rem 0;
  }

  &__intro {
    padding: 0 3rem;
  }

  &__story {
    padding: 0 3rem;
  }
}
