/* Header */

.header {
  margin: 4rem 0;

  &__intro {
    margin: 0 3rem;

    @media #{$brk-point-1024} {
      max-width: 1100px;
      margin: 0 auto;
      padding-left: 15rem;
    }

    p {
      color: $blueOne-c;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;

      @media #{$brk-point-1024} {
        font-size: 1.8rem;
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin: 2rem 0;

    @media #{$brk-point-1024} {
    }
  }

  &__story {
    margin: 0 3rem;

    @media #{$brk-point-1024} {
      max-width: 1100px;
      margin: 0 auto;
      padding-left: 15rem;
    }

    h2 {
      @media #{$brk-point-1024} {
        width: 370px;
      }
    }

    p {
      margin: 3rem 0;

      @media #{$brk-point-1024} {
        font-size: 1.8rem;
        width: 370px;
      }
    }
  }
}
