/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-close {
    display: none;
  }

  &__logo {
    font-family: "Heebo", sans-serif;
    font-size: 2.4rem;
    color: #333;
  }

  &__list {
    display: none;
  }
}
