/* Service Section */

.service {
  &__card {
    padding: 2rem;
  }

  &__content {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    color: #4f4f4f;
    margin: 2rem 0;
  }

  &__icon {
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: white;
    background-color: yellow;
    margin-bottom: 1rem;

    &-blue {
      background-color: rgba(45, 156, 219, 0.7);
    }
    &-green {
      background-color: rgba(39, 174, 96, 0.7);
    }
    &-red {
      background-color: rgba(235, 87, 87, 0.7);
    }
  }
}

@media (min-width: 1024px) {
  .service {
    max-width: 1100px;
    margin: 0 auto;
  }
  .service__card {
    width: 24%;
    border: solid;
    padding: 4rem;
  }
  .card__container {
    display: flex;
    justify-content: space-between;
  }
}
