/* Service Section */

.service {
  margin-top: 10rem;
}

.card {
  margin-top: 5rem;

  &__wrapper {
    padding: 4rem 3rem;

    &:hover {
      border: solid;
      cursor: pointer;
    }
  }

  &__content {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    color: $gray-dark-c;
    margin: 3rem 0;
  }

  &__icon {
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: $white-c;
    background-color: yellow;
    margin-bottom: 3rem;

    &-blue {
      background-color: $blueOne-c;
    }
    &-green {
      background-color: $green-c;
    }
    &-red {
      background-color: $red-c;
    }
  }
}

@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;

    &__wrapper {
      width: 40%;
      padding: 3rem;
    }
  }
}

@media (min-width: 1024px) {
  .service {
    max-width: 1100px;
    margin: 20rem auto;
  }

  .card {
    &__wrapper {
      width: 24%;
      padding: 4rem;
    }
  }
}
