.team__message {
  p {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .meet {
    color: rgba(235, 87, 87, 0.7);
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.team__image {
  margin: 3rem 0;

  img {
    width: 80%;
  }
}
