.team__message {
  p {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .meet {
    color: rgba(235, 87, 87, 0.7);
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.team__image {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    "one two"
    "one three";

  img {
    width: 100%;
    border-radius: 2.5rem;
  }

  &-one {
    grid-area: one;
    place-self: center;
  }

  &-two {
    grid-area: two;
  }
  &-three {
    grid-area: three;
  }
}
