.testimony {
  margin: 5rem 0;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    img {
      width: 20%;
      border-radius: 1rem;
    }
  }

  &__content {
    margin-left: 3rem;
    h2 {
      margin: 0;
    }
    p {
      font-size: 1.8rem;
      color: #828282;
    }
  }
}
